<app-menu></app-menu>
<div class="container px-4 py-5" id="icon-grid">
    <h2 class="pb-2 border-bottom">Contacto</h2>

    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4 py-5">
      <div class="col d-flex align-items-start">
        <i class="bi bi-at"></i>
        <div>
          <h4 class="fw-bold mb-0">Correo electrónico</h4>
          <p>
            cristianvg9692@gmail.com <br> cristianvg_sk1992@outlook.es
             </p>
        </div>
      </div>
      <div class="col d-flex align-items-start">
        <i class="bi bi-phone"></i>
        <div>
          <h4 class="fw-bold mb-0">Celular / Whatsapp</h4>
          <p>+52 284 104 6682</p>
        </div>
      </div>
      <div class="col d-flex align-items-start">
        <i class="bi bi-linkedin"></i> &nbsp;&nbsp;&nbsp;&nbsp;
        <div>
          <h4 class="fw-bold mb-0">Linkedin</h4>
          <a target="_blank" href="https://www.linkedin.com/in/cristhianvg1/" class="btn btn-outline-secondary">Ver perfil</a>
        </div>
      </div>
      <div class="col d-flex align-items-start">
        <i class="bi bi-linkedin"></i> &nbsp;&nbsp;&nbsp;&nbsp;
        <div>
          <h4 class="fw-bold mb-0">Github</h4>
          <a target="_blank" href="https://github.com/cristianvg1992" class="btn btn-outline-secondary">Ver perfil</a>
        </div>
      </div>
      <div class="col d-flex align-items-start">
        <i class="bi bi-globe"></i> &nbsp;&nbsp;&nbsp;&nbsp;
        <div>
          <h4 class="fw-bold mb-0">Sitio web</h4>
          <a target="_blank" href="https://cristhianvg.com" class="btn btn-outline-secondary">Ver sitio web</a>
        </div>
      </div>
    </div>
  </div>