<app-menu></app-menu>
<div class="px-4 py-5  text-center bg-dark text-white">
    <img class="d-block mx-auto mb-4" src="https://cdn-icons-png.flaticon.com/512/147/147140.png" alt="" width="150" >
    <h1 class="display-5 fw-bold">Sobre mi</h1>
    
    <div class="col-lg-6 mx-auto">
      <p class="fs-5 mb-4 text-secondary">
        Desde pequeño me ha gustado aprender por mi cuenta, me considero una persona autodidacta. Cuando hay un tema que me interesa lo investigo al 100% hasta poder comprenderlo y dominarlo.
        Me gusta la tecnología porque es grandioso ver como en tan pocos años ha habido una potencialización de todas las actividades hasta el punto de realizarlas en cuestión de segundos.


      </p>

  </div>
</div>

  <div style="width: 100%; height:1em;"></div>
  <div class="container px-4 py-5" id="hanging-icons">
    <h2 class="pb-2 border-bottom"><i class="bi bi-bookmark-star-fill"></i> Estudios</h2>
    <div class="row g-4 py-4">
      <div class="card card-body d-flex align-items-start">
        <div>
          <h4>Ingeniero en Sistemas Computacionales</h4>
          <p> Estudié la carrera de Ingeniería en Sistemas Computacionales en el Instituto Tecnológico Superior de Alvarado </p>
          <ol class="list-group list-group-numbered">
            <li class="list-group-item d-flex justify-content-between align-items-start">
              <div class="ms-2 me-auto">
                <div class="fw-bold">Proyectos escolares</div>
                Durante la carrera se elaboraron algunos proyectos que me permitieron desarrollar mejor mi habilidad de programación.
                Se utilizaron lenguajes como Java, PHP, Javascript y se implementaron tecnologías como sockets y websockets.
              </div>
              <span class="badge bg-primary rounded-pill">Ok</span>
            </li>
          </ol>
        </div>
      </div>
    </div>
  </div>

  <div class="container px-4 py-2" id="hanging-icons">
    <h2 class="pb-2 border-bottom"><i class="bi bi-building"></i> Experiencia laboral</h2>
    <div class="row g-4 py-4">
      <div class="card card-body d-flex align-items-start">
        <div>
          <h4>Docente del TecNM campus Alvarado</h4>
          <p> Dentro de mis actividades diarias se encontraba el impartir clases de programación orientada a objetos, 
            estructuras de datos y programación web a alumnos del área; 
            así como el desarrollo de proyectos integrales para los eventos académicos. 
            Las tecnologías utilizadas en este puesto fueron las siguientes: </p>
          
          <ol class="list-group list-group-numbered">
            <li class="list-group-item d-flex justify-content-between align-items-start">
              <div class="ms-2 me-auto">
                <div class="fw-bold">Programación</div>
                Clases de Programación a alumnos usando Java, Angular y SQL
              </div>
              <span class="badge bg-primary rounded-pill">Ok</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-start">
              <div class="ms-2 me-auto">
                <div class="fw-bold">Cursos de Javascript</div>
                Impartí cursos de capacitación a Tecnológicos aledaños (TecNM campus Misantla, etc).
              </div>
              <span class="badge bg-primary rounded-pill">Ok</span>
            </li>
          </ol>
        </div>
      </div>
      <div class="card card-body d-flex align-items-start">
        <div>
          <h4>Webmaster en el Instituto Tecnológico Superior de Alvarado</h4>
          <p>Las actividades realizadas consistían en la gestión del contenido de las redes sociales, 
            lo cual me permitió conocer las herramientas de diseño de la suite de adobe; así como el desarrollo y 
            administración del sitio web institucional.</p>
          <ol class="list-group list-group-numbered">
            <li class="list-group-item d-flex justify-content-between align-items-start">
              <div class="ms-2 me-auto">
                <div class="fw-bold">Programación</div>
                Desarrollo de una aplicación institucional utilizando PHP, Laravel, MySQL, jQuery y JSON.
              </div>
              <span class="badge bg-primary rounded-pill">Ok</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-start">
              <div class="ms-2 me-auto">
                <div class="fw-bold">Marketing</div>
                Mediante facebook apoyaba en el desarrollo de herramientas publicitarias para la atracción de alumnos. 
                Para ello se utilizaba la suite de adobe.
              </div>
              <span class="badge bg-primary rounded-pill">Ok</span>
            </li>
          </ol>
        </div>
      </div>
    </div>
  </div>