<div class="bg-dark text-secondary px-4 py-5 text-center">
    <div class="py-5">
        <img [src]="avatarImg" class="avatar" alt="">
      <h1 class="display-5 fw-bold text-white">Analista programador Java </h1>
      <div class="col-lg-6 mx-auto">
        <p class="fs-5 mb-4 py-4">
          Programador apasionado y estudiante autodidacta. Me gusta aprender constantemente y buscar nuevas metas 
          para no quedarme dentro de la zona de comfort. Siempre en la búsqueda de nuevas formas de resolver problemas
          y amante del café.


        </p>
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
          <button type="button" class="btn btn-outline-secondary btn-lg px-4 me-sm-3">Github</button>
          <button type="button" class="btn btn-outline-secondary btn-lg px-4">Linkedin</button>
        </div>
      </div>
    </div>
  </div>
