<div class="container px-4 py-5" id="icon-grid">
    <h2 class="pb-2 border-bottom">Habilidades técnicas</h2>

    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4 py-5">
      <div class="col d-flex align-items-start">
        <div class="text-center">
          <img class="bi text-muted flex-shrink-0 me-3" src="assets/img/skills/java.png" class="skill-logo" alt="">

          <p>Creación de aplicaciones Java utilizando POO y otros patrones de diseño</p>
          <div class="progress">
            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%">80%</div>
          </div>
        </div>
      </div>
      <div class="col d-flex align-items-start">
        <div class="text-center">
          <img class="bi text-muted flex-shrink-0 me-3" src="assets/img/skills/spring.webp" class="skill-logo" alt="">

          <p>Paragraph of text beneath the heading to explain the heading.</p>
          <div class="progress">
            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: 70%">70%</div>
          </div>
        </div>
      </div>
      <div class="col d-flex align-items-start">
        <div class="text-center">
          <img class="bi text-muted flex-shrink-0 me-3" src="assets/img/skills/jpa.png" class="skill-logo" alt="">

          <p>Paragraph of text beneath the heading to explain the heading.</p>
          <div class="progress">
            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: 70%">70%</div>
          </div>
        </div>
      </div>
      <div class="col d-flex align-items-start">
        <svg class="bi text-muted flex-shrink-0 me-3" width="1.75em" height="1.75em"><use xlink:href="#home"/></svg>
        <div>
          <h4 class="fw-bold mb-0">Javascript</h4>
          <p>Paragraph of text beneath the heading to explain the heading.</p>

          <div class="progress">
            <div class="progress-bar progress-bar-striped progress-bar-animated bg-danger" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: 70%">70%</div>
          </div>
        </div>
      </div>
      <div class="col d-flex align-items-start">
        <svg class="bi text-muted flex-shrink-0 me-3" width="1.75em" height="1.75em"><use xlink:href="#speedometer2"/></svg>
        <div>
          <h4 class="fw-bold mb-0">Linux</h4>
          <p>Paragraph of text beneath the heading to explain the heading.</p>

          <div class="progress">
            <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%">80%</div>
          </div>
        </div>
      </div>
      <div class="col d-flex align-items-start">
        <svg class="bi text-muted flex-shrink-0 me-3" width="1.75em" height="1.75em"><use xlink:href="#toggles2"/></svg>
        <div>
          <h4 class="fw-bold mb-0">AWS</h4>
          <p>Paragraph of text beneath the heading to explain the heading.</p>

          <div class="progress">
            <div class="progress-bar progress-bar-striped progress-bar-animated bg-warning" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">40%</div>
          </div>
        </div>
      </div>
      <div class="col d-flex align-items-start">
        <svg class="bi text-muted flex-shrink-0 me-3" width="1.75em" height="1.75em"><use xlink:href="#geo-fill"/></svg>
        <div>
          <h4 class="fw-bold mb-0">Docker</h4>
          <p>Paragraph of text beneath the heading to explain the heading.</p>

          <div class="progress">
            <div class="progress-bar progress-bar-striped progress-bar-animated bg-warning" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">40%</div>
          </div>
        </div>
      </div>
      <div class="col d-flex align-items-start">
        <svg class="bi text-muted flex-shrink-0 me-3" width="1.75em" height="1.75em"><use xlink:href="#tools"/></svg>
        <div>
          <h4 class="fw-bold mb-0">Angular</h4>
          <p>Paragraph of text beneath the heading to explain the heading.</p>

          <div class="progress">
            <div class="progress-bar progress-bar-striped progress-bar-animated bg-danger" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: 70%">70%</div>
          </div>
        </div>
      </div>
    </div>
  </div>