<header class="p-3 bg-dark text-white">
  <div class="container">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
      <a routerLink="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
        <img src="https://clasespatysandoval.files.wordpress.com/2014/09/blanco-engrane.png" style="width:40px; margin-right: 1em;" >
      </a>

      <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
        <li><a routerLink="/" class="nav-link px-2 text-secondary" routerLinkActive="active">Home</a></li>
        <li><a routerLink="/about" class="nav-link px-2 text-white" routerLinkActive="active">About</a></li>
        <li><a routerLink="/blog" class="nav-link px-2 text-white" routerLinkActive="active">Blog</a></li>
        <li><a routerLink="/portfolio" class="nav-link px-2 text-white" routerLinkActive="active">Portfolio</a></li>
        <li><a routerLink="/contact" class="nav-link px-2 text-white" routerLinkActive="active">Contact</a></li>
        
      </ul>

      <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3">
        <input type="search" class="form-control form-control-dark" placeholder="Search..." aria-label="Search">
      </form>

      <div class="text-end">
        <button type="button" class="btn btn-outline-light me-2">Login</button>
      </div>
    </div>
  </div>
</header>