.control {
    margin-bottom: 0.5em;;
}

span.badge {
    font-family: arial;
    width: 50%;
}

.roles {
    width: 100%;
    margin-bottom: 1rem;
}

.rol {
    display: inline-block;
    margin-right: 1em;
}

.rol input {
    margin-right: 10px;
}

.users-register {
    margin-bottom: 1rem;
}